<header class="due-up-header">
  <h4 class="heading-component">Due Up</h4>
</header>

<ul class="list-unstyled due-up-batters">
  <li class="batter">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-data">
      <p class="text-content">{{format-name firstName=game.dueUpBatter.first lastName=game.dueUpBatter.last}}</p>
      <span class="text-metadata">{{game.dueUpBatter.h}}-{{game.dueUpBatter.ab}}, {{game.dueUpBatter.avg}}/{{game.dueUpBatter.obp}}/{{game.dueUpBatter.slg}}</span>
    </div>
  </li>

  <li class="batter">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-data">
      <p class="text-content">{{format-name firstName=game.dueUpOnDeck.first lastName=game.dueUpOnDeck.last}}</p>
      <span class="text-metadata">{{game.dueUpOnDeck.h}}-{{game.dueUpOnDeck.ab}}, {{game.dueUpOnDeck.avg}}/{{game.dueUpOnDeck.obp}}/{{game.dueUpOnDeck.slg}}</span>
    </div>
  </li>

  <li class="batter">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-data">
      <p class="text-content">{{format-name firstName=game.dueUpInHole.first lastName=game.dueUpInHole.last}}</p>
      <span class="text-metadata">{{game.dueUpInHole.h}}-{{game.dueUpInHole.ab}}, {{game.dueUpInHole.avg}}/{{game.dueUpInHole.obp}}/{{game.dueUpInHole.slg}}</span>
    </div>
  </li>
</ul>
