<header class="probables-header">
  <h4 class="heading-component">Probable Pitchers</h4>
</header>
<div class="probable-pitchers">
  <div class="away-team">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-metadata">
      <h3 class="heading-small">
        <a href={{model.awayProbablePitcherURL}}>
          {{format-name firstName=model.awayProbablePitcher.first lastName=model.awayProbablePitcher.last}}
        </a>
      </h3>
      <p class="content-metadata">({{model.awayProbablePitcher.wins}}-{{model.awayProbablePitcher.losses}}, {{model.awayProbablePitcher.era}} ERA)</p>
    </div>
  </div>

  <div class="home-team">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-metadata">
      <h3 class="heading-small">
        <a href={{model.homeProbablePitcherURL}}>
          {{format-name firstName=model.homeProbablePitcher.first lastName=model.homeProbablePitcher.last}}
        </a>
      </h3>
      <p class="text-metadata">({{model.homeProbablePitcher.wins}}-{{model.homeProbablePitcher.losses}}, {{model.homeProbablePitcher.era}} ERA)</p>
    </div>
  </div>
</div>
