<header class="probables-header">
  <h4 class="heading-component">Probable Pitchers</h4>
</header>
<div class="probable-pitchers">
  <div class="away-team">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-metadata">
      <h3 class="heading-small">
        <a href={{game.awayProbablePitcherURL}}>
          {{format-name firstName=game.awayProbablePitcher.first lastName=game.awayProbablePitcher.last}}
        </a>
      </h3>
      <p class="content-metadata">({{game.awayProbablePitcher.wins}}-{{game.awayProbablePitcher.losses}}, {{game.awayProbablePitcher.era}} ERA)</p>
    </div>
  </div>

  <div class="home-team">
    <div class="image-container avatar small-hidden">
      <img src="assets/images/no-photo.png" class="no-photo" />
    </div>
    <div class="player-metadata">
      <h3 class="heading-small">
        <a href={{game.homeProbablePitcherURL}}>
          {{format-name firstName=game.homeProbablePitcher.first lastName=game.homeProbablePitcher.last}}
        </a>
      </h3>
      <p class="text-metadata">({{game.homeProbablePitcher.wins}}-{{game.homeProbablePitcher.losses}}, {{game.homeProbablePitcher.era}} ERA)</p>
    </div>
  </div>
</div>
