<div class="players">
  <div class="winning-pitcher">
    <h5 class="text-label">Win</h5>
    <div class="player">
      <div class="image-container avatar small-hidden">
        <img src="assets/images/no-photo.png" class="no-photo" />
      </div>
      <div class="player-data">
        <p class="text-content">{{format-name firstName=game.winningPitcher.first lastName=game.winningPitcher.last}}</p>
        <span class="text-metadata">({{game.winningPitcherWins}}-{{game.winningPitcherLosses}}, {{game.winningPitcherERA}} ERA)</span>
      </div>
    </div>
  </div>

  <div class="losing-pitcher">
    <h5 class="text-label">Loss</h5>
    <div class="player">
      <div class="image-container avatar small-hidden">
        <img src="assets/images/no-photo.png" class="no-photo" />
      </div>
      <div class="player-data">
        <p class="text-content">{{format-name firstName=game.losingPitcher.first lastName=game.losingPitcher.last}}</p>
        <span class="text-metadata">({{game.losingPitcherWins}}-{{game.losingPitcherLosses}}, {{game.losingPitcherERA}} ERA)</span>
      </div>
    </div>
  </div>

  {{#if game.hasSavePitcher}}
    <div class="save-pitcher">
      <h5 class="text-label">Save</h5>
      <div class="player">
        <div class="image-container avatar small-hidden">
          <img src="assets/images/no-photo.png" class="no-photo" />
        </div>
        <div class="player-data">
          <p class="text-content">{{format-name firstName=game.savePitcher.first lastName=game.savePitcher.last}}</p>
          <span class="text-metadata">({{game.savePitcherSaves}})</span>
        </div>
      </div>
    </div>
  {{/if}}

</div>
