{{#if game.isSideRetired}}
  {{due-up-batters game=game}}
{{else}}
  <div class="container">
    <div class="diamond">
      <div class="base third-base {{if game.isOnThirdBase 'on-base'}}"></div>
      <div class="base second-base {{if game.isOnSecondBase 'on-base'}}"></div>
      <div class="base first-base {{if game.isOnFirstBase 'on-base'}}"></div>
    </div>

    <div class="at-bat-count">
      <div class="count-labels">
        <h4 class="text-content text-bold count-label">Balls</h4>
        <h4 class="text-content text-bold count-label">Strikes</h4>
        <h4 class="text-content text-bold count-label">Outs</h4>
      </div>
      <div class="count-totals">
        <div class="ball-total">
          <span class="count ball {{if game.isBallOne 'active'}}"></span>
          <span class="count ball {{if game.isBallTwo 'active'}}"></span>
          <span class="count ball {{if game.isBallThree 'active'}}"></span>
          <span class="count ball {{if game.isBallFour 'active'}}"></span>
        </div>
        <div class="strike-total">
          <span class="count strike {{if game.isStrikeOne 'active'}}"></span>
          <span class="count strike {{if game.isStrikeTwo 'active'}}"></span>
          <span class="count strike {{if game.isStrikeThree 'active'}}"></span>
        </div>
        <div class="out-total">
          <span class="count out {{if game.isOutOne 'active'}}"></span>
          <span class="count out {{if game.isOutTwo 'active'}}"></span>
          <span class="count out {{if game.isOutThree 'active'}}"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="last-play small-hidden">
    <p class="text-metadata">
      {{#if game.isCurrentlyDelayed}}
        <strong>Delay</strong>: {{game.gameStatus.note}}
      {{else if game.isBeingChallenged}}
        <strong>Challenge</strong>: {{game.gameStatus.note}}
      {{else}}
        <strong>Last Play</strong>: {{game.playByPlay.last}}
      {{/if}}
    </p>
  </div>
{{/if}}
