{{#if game.isSideRetired}}
  {{due-up-batters game=game}}
{{else}}
  <div class="container">
    <div class="diamond">
      <div class="base third-base {{if game.isOnThirdBase 'on-base'}}"></div>
      <div class="base second-base {{if game.isOnSecondBase 'on-base'}}"></div>
      <div class="base first-base {{if game.isOnFirstBase 'on-base'}}"></div>
    </div>

    <div class="at-bat-count">
      <div class="ball-count">
        <h4 class="text-label count-label">Balls</h4>
        <div class="count-totals">
          <span class="count ball {{if model.isBallOne 'active'}}"></span>
          <span class="count ball {{if model.isBallTwo 'active'}}"></span>
          <span class="count ball {{if model.isBallThree 'active'}}"></span>
          <span class="count ball {{if model.isBallFour 'active'}}"></span>
        </div>
      </div>

      <div class="strike-count">
        <h4 class="text-label count-label">Strikes</h4>
        <div class="count-totals">
          <span class="count strike {{if model.isStrikeOne 'active'}}"></span>
          <span class="count strike {{if model.isStrikeTwo 'active'}}"></span>
          <span class="count strike {{if model.isStrikeThree 'active'}}"></span>
        </div>
      </div>

      <div class="out-count">
        <h4 class="text-label count-label">Outs</h4>
        <div class="out-totals">
          <span class="count out {{if model.isOutOne 'active'}}"></span>
          <span class="count out {{if model.isOutTwo 'active'}}"></span>
          <span class="count out {{if model.isOutThree 'active'}}"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="last-play small-hidden">
    <p class="text-metadata">
      {{#if game.isCurrentlyDelayed}}
        <strong>Delay</strong>: {{game.gameStatus.note}}
      {{else if game.isBeingChallenged}}
        <strong>Challenge</strong>: {{game.gameStatus.note}}
      {{else}}
        <strong>Last Play</strong>: {{game.playByPlay.last}}
      {{/if}}
    </p>
  </div>
{{/if}}
