<thead class="linescore-header">
  <tr class="linescore-container">
    <th class="game-status">
      {{#if (or model.isPreGame model.isPreview)}}
        <h4 class="heading-component">{{model.gameTime}} <i>at {{model.venue}} in {{model.location}}</i></h4>
      {{else if model.isWarmup}}
        <h4 class="heading-component">Warmup</h4>
      {{else if model.isInProgress}}
        <h4 class="heading-component">{{model.currentInning}}</h4>
      {{else if model.isCurrentlyDelayed}}
        <h4 class="heading-component">
          {{model.currentInning}} - <em>Delayed</em>
        </h4>
      {{else if model.isBeingChallenged}}
        <h4 class="heading-component">
          {{model.currentInning}} - <em>Managers Challenge</em>
        </h4>
      {{else if model.isGameCompleted}}
        <h4 class="heading-component">
          {{#if model.isExtraInnings}}
            Final/{{model.finalInning}}
          {{/if}}
          {{#unless model.isExtraInnings}}
            Final
          {{/unless}}
        </h4>
      {{/if}}
    </th>
    {{#if (or model.isWarmup model.isInProgress model.isGameCompleted)}}
      <th class="category">R</th>
      <th class="category">H</th>
      <th class="category">E</th>
    {{/if}}
  </tr>
</thead>
<tbody class="game-opponents">
  <tr class="opponent">
    <td class="away-team">
      <div class="image-container">
        {{#if game.awayTeamLogo}}
          <img src={{game.awayTeamLogo}} class="team-logo" />
        {{/if}}
      </div>
      <div class="team-metadata">
        <h3 class="heading-small">
          {{game.awayTeamName}}
          {{#if game.isInProgress}}
            <span class="manager-challenges {{if game.hasAwayChallengeRemaining 'has-challenge'}}" title="Remaining manager challenges: {{game.awayManagerChallenges}}"></span>
          {{/if}}
        </h3>
        <p class="text-metadata">({{game.awayTeamWins}}-{{game.awayTeamLosses}})</p>
      </div>
    </td>
    {{#if (or game.isWarmup game.hasGameStarted game.isDelayedStart game.isGameCompleted)}}
      <td class="category-total runs text-content">{{game.awayTeamRuns}}</td>
      <td class="category-total hits text-content">{{game.awayTeamHits}}</td>
      <td class="category-total errors text-content">{{game.awayTeamErrors}}</td>
    {{/if}}
  </tr>
  <tr class="opponent">
    <td class="home-team">
      <div class="image-container">
        {{#if game.homeTeamLogo}}
          <img src={{game.homeTeamLogo}} class="team-logo" />
        {{/if}}
      </div>
      <div class="team-metadata">
        <h3 class="heading-small">
          {{game.homeTeamName}}
          {{#if game.isInProgress}}
            <span class="manager-challenges {{if game.hasHomeChallengesRemaining 'has-challenge'}}" title="Remaining manager challenges: {{game.homeManagerChallenges}}"></span>
          {{/if}}
        </h3>
        <p class="text-metadata">({{game.homeTeamWins}}-{{game.homeTeamLosses}})</p>
      </div>
    </td>
    {{#if (or game.isWarmup game.hasGameStarted game.isDelayedStart game.isGameCompleted)}}
      <td class="category-total runs text-content">{{game.homeTeamRuns}}</td>
      <td class="category-total hits text-content">{{game.homeTeamHits}}</td>
      <td class="category-total errors text-content">{{game.homeTeamErrors}}</td>
    {{/if}}
  </tr>
</tbody>
