<article class="scoreboard">
  {{#each sortedGames as |game|}}
    <section data-component="game">
      <div class="flex-wrapper primary">
        {{score-display game=game}}

        {{#if (and (not game.hasGameStarted game.isGameCompleted))}}
          {{game-probables game=game}}
        {{else if game.hasGameStarted}}
          {{play-by-play game=game}}
        {{else if game.isGameCompleted}}
          {{game-wrapup game=game}}
        {{/if}}
      </div>

      {{#if (or game.hasGameStarted game.isGameCompleted)}}
        <div class="flex-wrapper small-hidden">
          <div class="details">
            <button>X</button>
          </div>
        </div>
      {{/if}}

      {{#if (or game.hasGameStarted game.isGameCompleted)}}
        <div class="details-drawer small-hidden">
          <div class="box-score">
            Box Score
          </div>
          <div class="current-matchup">
            Current Matchup
          </div>
        </div>
      {{/if}}

    </section>
  {{/each}}
</article>
