<article class="scoreboard">
  {{#each sortedGames as |game|}}
    <section class="game" data-component="game">
      {{score-display model=game}}

      {{#if (or game.isPreGame game.isPreview game.isWarmup)}}
        {{game-probables model=game}}
      {{else if (or game.isInProgress game.isBeingChallenged game.isCurrentlyDelayed)}}
        {{play-by-play model=game}}
      {{else if game.isGameCompleted}}
        {{game-wrapup model=game}}
      {{/if}}
    </section>
  {{/each}}
</article>
