<header class="block-center" role="banner">
  {{#link-to "index"}}
    <img src="assets/images/logo.svg" class="site-logo" />
    <h1 class="heading-site">{{appName}}</h1>
  {{/link-to}}
</header>

<main class="block-center">
  {{game-date currentDate}}

  {{outlet}}
</main>

<footer role="contentinfo">
  <p class="text-footer">{{appName}} {{currentYear}}. A side project by <a href="http://alexiscordova.com">Alexis Córdova</a></p>
</footer>
